* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}

.container .heading-bar {
    width: 100%;
    min-height: 60px;
    margin-top: 5px;
}

.heading-bar .logo {
    width: 35%;
    height: 80px;
    border: 1px solid black;
    float: left;
}
.heading-bar .logo h1{
    margin-left: 20%;
    padding: 5px;
    color: rgb(40, 79, 209);
}


.heading-bar .menu {
    width: 60%;
    height: 80px;
    border: 1px solid black;
    float: right;
    padding: 20px;
}

.heading-bar .menu a{
    margin-left: 10%;
    color: black;
    text-decoration: none;
    color: rgb(178, 21, 218);
    font-weight: bold;
    font-size: 20px;
}

.heading-bar .menu a:hover{
    color: aqua;
}

.container .img{
    width: 100%;
    min-height: 350px;
}

img{
    width: 100%;
    height: 350px;
    margin-top: 5px;
}

.main-content
{
    width: 100%;
    min-height: 250px;
    border: 1px solid black;
}

.main-content .sidebar
{
    width: 25%;
    height: 250px;
    background-color: aqua;
    text-align: center;
    float: left;
   text-align: center;
   padding: 20px;
}

.clear{
    clear: both;
}
.main-content .content{

      position: absolute;
      top: 79%;
      left: 30%;    
}

.content .img2{
    width: 112vh;
    height: 46vh;
}

.container .footer
{
    width: 100%;
    height: 350px;
    margin-top: 5px;
}

.footer .img3
{
    width: 100%;
    height: 350px;
}



